body{
  background-image: linear-gradient(#f7f7f7, #c7c7c7) ;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  max-width: 12000px;
  
}
.menu {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  padding: 0.5rem;
  margin-top: 0px;
}
.itens {
  text-decoration: none;
  color: black;
  padding: 10px;
}
.itens:hover {
  border-bottom: 2px solid #418FDE;
}
.linha1{
  padding: 0.5px;
  background-color: #418FDE;
  display: flex;
  margin: 0px;
}
.ODS{

}
.h111{
  text-align: left;
  margin: 10px 75px;
}
.mapa{
  max-width: 100%;
}
.imgicon{
  max-width: 20px;
  position: absolute;
  left: -40px;
}
.contato {
  text-align: left;
  margin: 0px 125px;
  position: relative;
}
.h121 {
  text-align: left;
  margin: 10px 75px;
}
.footer1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
  margin-bottom: 20px;
}
.footer2{
  text-align: right;
  margin-top: 0px;
  align-self: center;
}
.footer1::before{
  content: "";
  height: 2px;
  width: 130px;
  transform:rotate(90deg);
  background-color: #418FDE;
  position: absolute;
  top: 60px;
  right: 610px;


}
.footer3{
  text-align: left;
  margin-top: 0px;
  align-self: center;
  
}
.h3footer3{
  margin: 0px;
}
.footer3 p {
  margin: 9px;
}
.h1footer {
  margin-bottom: 30px;
}

