.One {
    background-color: gold;
    margin: 20px;
    height: 70px;
    border: rgb(66, 67, 71) solid;
    text-align:center;
}

.Luz {
    background-color: seagreen;
    text-align:center;
}

nav p { 
    text-align:justify ;
    margin: 20px;
    font-style: italic;    
}