body{
    background-color: rgb(230, 222, 222);
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.primeiro {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.introducao {
    background-color: #fff;
    justify-content: right;
    text-align: right;
    padding: 20px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 700;
    font
}

img {
    max-width: 100%;
}