body{
    background-image: linear-gradient(45deg, #f7f7f7, #c7c7c7) ;
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.primeiro {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.introducao {
    background-color: #e7e7e7;
    justify-content: right;
    text-align: right;
    padding: 20px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
}
.Onu-sim{ 
    background-image: url(./img/Emblem_of_the_United_Nations.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;

}

img {
    max-width: 100%;
}
.menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px;

}

.itens {
    background-color:#c7c7c7;
    text-decoration: none;
    color: black;
    border-radius: 4px;
    padding: 10px;
}

.itens:hover {
    border: 2px solid #f7f7f7;
}
.Onu {
    max-width: 100%;
}

.introducao:hover {
    border: 2px solid #f7f7f7;
}
